.home-page{
	.circle-btn{
		top:5px;
	}
}
.summary-box{

	padding:10px;
	padding-top:0px;
	overflow:hidden;
	font-size:15px;
	.info-value{

		word-break:break-all;
		word-wrap:break-word;
	}
	li{
		float:left;
		width:50%;
		table{

			width:100%;
			border-collapse:collapse;
			th{

				padding:3px 10px 3px 0;
				text-align:right;
			}
			td{
				padding:3px 0px;
				vertical-align:middle;
			}
		}
	}

}

