.idea/
cscope.*
*.gradle
**/*.gradle
tags
*.iml
out/
target/
.classpath
.project
.settings
.externalToolBuilders
bin/
Thumbs.db
classes
/res/drawable-hdpi/Thumbs.db
*.pid
/do.sh
*/catalina*
pom.xml.versionsBackup
*.log
.gradle/
build/
*.class

# Package Files #
*.jar
*.war
*.ear
*.index
*.location
.metadata/
erlide.log.lck
*.dll
*.pdb
Lib/
*/.tmp
*/bower_components
*/dist
*/node_modules
*/.*
*/**/.*
.*.sh
