.search-title {
	text-align:right;
	padding-top:5px;
}

.cache-content{

	width:100%;
	text-align:center;
	min-height:330px;
}

.json-content{
	text-align:left;
	min-height:250px;
	word-wrap:break-word;

}
