.log-view {
    width: 100%;
    border: none;
    outline: 0;
}
.stat-result {
    .row {
        .label-col {
            text-align: right;
            font-weight: bold;
            color: #787800;
            background-color: #eff;
        }
        border-bottom:1px solid #eef;
    }
    overflow:scroll;
    overflow-x:hidden;
    height:500px;
}
.log-detail {
	.sele-tags{
		background-color:rgba(12,12,12,0.1);
		opacity:0.8;
		padding:5px;
		span.log-tag{
			padding:3px;
			margin:3px;
		}
	}
	.btn-info{

		color:#fff !important;
		&:hover{

			background-color:#5bc0de !important;
		}
	}
    .spinner-panel {
        padding-top: 10%;
        padding-left: 45%;
    }
    .toolbar {
        position: fixed;
	z-index:1000;
        .input-group {
            width: 70%;
        }
    }
    .partion-selector {
        position: fixed;
        bottom: 30px;
        height: 70px;
        opacity: 0.2;
        background: #555;
        right: 10px;
        padding-top: 5px;
        border-radius: 3px;
        &:hover {
            opacity: 0.8;
        }
    }
    div.log-list {
        background-color: transparent;
        border: none;
        white-space: pre-wrap;
        .log-tag {
            background-color: #eee;
            color: #6c954c;
        }
        .INFO {
            color: green;
        }
        .ERROR {
            color: red;
        }
        .WARN {
            color: orange;
        }
        &.filter{
		.line {
		    display: none;
		}
	}
        .tools {
            display: none;
        }
        .more {
            display: none;
            cursor: pointer;
        }
        &.filter{
            .line[show='show'] {
                display: inline !important;
            }

	    span.highlight{
		    background-color:yellow;
	    }

            .area[show='show']>.tools {
                display: inline !important;
                .fa-angle-double-up {
                    display: none;
                }
                .fa-angle-double-down {
                    display: inline;
                }
            }
            .area[all='all'] {
                .line {
                    display: block !important;
                }
                &>.tools {
                    .fa-angle-double-up {
                        display: inline;
                    }
                    .fa-angle-double-down {
                        display: none;
                    }
                }
            }
            .area[show='show']>.more {
                display: block;
                &[hide='hide'] {
                    display: none;
                }
            }
        }
    }
}
